name: Rust

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest
    services:
         # Label used to access the service container
         mysql:
           # Docker Hub image (also with version)
           image: mysql:latest
           env:
             MYSQL_ALLOW_EMPTY_PASSWORD: yes
             MYSQL_DATABASE:  db_test_rust
           ## map the "external" 33306 port with the "internal" 3306
           ports:
             - 6500:3306
           # Set health checks to wait until mysql database has started (it takes some seconds to start)
           options: >-
             --health-cmd="mysqladmin ping"
             --health-interval=10s
             --health-timeout=5s
             --health-retries=3
  
    steps:
    - uses: actions/checkout@v3
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
      env:
          DB_CONNECTION: mysql
          DB_DATABASE: db_test_rust
          DB_PORT: 6500
          DB_USER: root
  
