name: Rust

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always
  MYSQL_DATABASE: kinsper_rust_test
  MYSQL_USER: admin
  MYSQL_PASSWORD: password123
  MYSQL_ROOT_PASSWORD: password123

jobs:
  checks:
    name: Cargo Format & Clippy
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Install Protobuf Compiler
      run: sudo apt-get -y install protobuf-compiler
    - uses: actions/checkout@v3
    - name: Check formatting
      run: cargo fmt -- --check
    - name: Check linting
      run: cargo clippy -- -D warnings

  build:
    name: Build & Test
    runs-on: ubuntu-latest
    services:
      mysql:
        image: mysql:latest
        env: 
          MYSQL_DATABASE: ${{ env.MYSQL_DATABASE }}
          MYSQL_USER: ${{ env.MYSQL_USER }}
          MYSQL_PASSWORD: ${{ env.MYSQL_PASSWORD }}
          MYSQL_ROOT_PASSWORD: ${{ env.MYSQL_ROOT_PASSWORD }}
        ports:
          - 6500:3306
        options: >-
          --health-cmd="mysqladmin ping"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=3
  
    steps:
    - uses: actions/checkout@v3
    - name: Install Protobuf Compiler
      run: sudo apt-get -y install protobuf-compiler
    - uses: actions/checkout@v3
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
